i {
  margin-right: 5px;
}

span {
  text-transform: uppercase;
}

.active {
  background-color: lighten(#4e73df, 10);
}

.sign-out-bg {

  background: darken(#4e73df, 30);
  border-radius: 20px;
  font-weight: bolder;

}

.c-sidebar-nav li :hover {
  background-color: cadetblue;
}
