<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
    <div class="sidebar-brand-icon rotate-n-15">
      <fa-icon [icon]="faCartFlatbed" class="fa-2x"></fa-icon>
    </div>
    <div class="sidebar-brand-text mx-3">E-Kaly</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Items -->
  <li class="nav-item" *ngFor="let route of sessionService.defaultRoutes">
    <a class="nav-link" [routerLink]="[route.path]" routerLinkActive="active">
      <fa-icon [icon]="route.icon" style="margin-right: 0.25rem;"></fa-icon>
      <span>{{route.title}}</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Sign out -->
  <li class="nav-item">
    <a class="nav-link sign-out-bg" href="javascript:void(0)" (click)="signOut()">
      <fa-icon [icon]="faRightFromBracket" style="margin-right: 0.25rem;"></fa-icon>
      <span>Sign out</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
  </div>

</ul>
<!-- End of Sidebar -->
