<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
</div>

<div class="card shadow mb-4">

  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{title}} list</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
        <tr>
          <th>Customer</th>
          <th>Restaurant</th>
          <th>Cost</th>
          <th>Shipping cost</th>
          <th>Delivery address</th>
          <th>Delivery man</th>
          <th>Order date</th>
          <th></th>
        </tr>
        </thead>

        <tfoot>
        <tr>
          <th>Customer</th>
          <th>Restaurant</th>
          <th>Cost</th>
          <th>Shipping cost</th>
          <th>Delivery address</th>
          <th>Delivery man</th>
          <th>Order date</th>
          <th></th>
        </tr>
        </tfoot>

        <tbody>
        <tr *ngFor="let order of orderService.orders.value">
          <td>{{order.customer.lastName}} {{order.customer.firstName}}</td>
          <td>{{order.restaurant.lastName}}</td>
          <td>{{order.cost}}</td>
          <td>{{order.shippingCost}}</td>
          <td>{{order.deliveryAddress}}</td>
          <td>{{order.deliveryMan ? order.deliveryMan.lastName + ' ' + order.deliveryMan.firstName : '...'}}</td>
          <td>{{order.createdAt | date: 'd-MMM-y'}}</td>
          <td>

            <span class="d-flex justify-content-around" *ngIf="isRestaurant && order.status == deliveryStatus.INI">
              <button class="btn btn-success btn-circle btn-sm shadow-sm" (click)="updateOrderStatus(order, deliveryStatus.TOD)">
                <fa-icon [icon]="faCircleCheck"></fa-icon>
              </button>
              <button class="btn btn-danger btn-circle btn-sm shadow-sm" (click)="updateOrderStatus(order, deliveryStatus.CAN)">
                <fa-icon [icon]="faBan"></fa-icon>
              </button>
            </span>

            <span class="d-flex justify-content-sm-around" *ngIf="isRestaurant && order.status != deliveryStatus.INI">
              <span class="text-success font-weight-bold" *ngIf="order.status == deliveryStatus.TOD" matTooltip="{{order.status}}">
                <fa-icon [icon]="faCircleCheck"></fa-icon>
              </span>
              <span class="text-danger font-weight-bold" *ngIf="order.status == deliveryStatus.CAN" matTooltip="{{order.status}}">
                <fa-icon [icon]="faBan"></fa-icon>
              </span>
              <span class="text-info font-weight-bold" *ngIf="order.status == deliveryStatus.DEL" matTooltip="{{order.status}}">
                <fa-icon [icon]="faTruckRampBox"></fa-icon>
              </span>
            </span>

            <span class="d-flex justify-content-sm-around" *ngIf="isAdmin && (order.status == deliveryStatus.INI ||order.status == deliveryStatus.TOD)">
              <button class="btn btn-success btn-circle btn-sm shadow-sm" (click)="updateOrder(order)">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
            </span>

            <span class="d-flex justify-content-sm-around" *ngIf="isAdmin && (order.status == deliveryStatus.CAN ||order.status == deliveryStatus.DEL)">
              <span class="text-danger font-weight-bold" *ngIf="order.status == deliveryStatus.CAN" matTooltip="{{order.status}}">
                <fa-icon [icon]="faBan"></fa-icon>
              </span>
              <span class="text-info font-weight-bold" *ngIf="order.status == deliveryStatus.DEL" matTooltip="{{order.status}}">
                <fa-icon [icon]="faTruckRampBox"></fa-icon>
              </span>
            </span>

          </td>
        </tr>
        </tbody>

      </table>
    </div>

    <app-paginator
      [length]="paginationService.paginationData.value.totalItems"
      [pageSize]="paginationService.paginationData.value.limit"
      [pageIndex]="paginationService.paginationData.value.page - 1"
      (page)="setPage($event)"
    ></app-paginator>

  </div>
</div>
